@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap");

#content {
  margin: 0 auto;
  max-width: 2000px;
}

nav a {
  text-align: center;
  color: #171717;
  text-decoration: none;
  padding: 60px;
  font-size: 1.1em;
  font-weight: 400;
}

.logo,
.icon {
  width: 250px;
  height: 69px;
  border-radius: 0;
  margin-left: 50px;
  margin-top: 25px;
  padding-top: 5px;
  padding-left: 0;
}

main section {
  text-align: center;
}

body {
  background-color: #fff;
  font-family: Lato, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #e2e2e2;
  display: grid;
  grid-template-columns: 150px auto;
}

nav {
  display: flex;
  justify-content: right;
}

nav,
a {
  opacity: 1;
}

nav a:hover {
  background-color: #000000;
  color: #e2e2e2;
}

#home {
  background-color: #000000;
  display: grid;
  width: auto;
  height: auto;
  grid-template-columns: 10fr 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  margin-top: 0;
}

#home-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
}
.home-title {
  color: #ffffff;
  text-align: center;
  font-family: Lato, Poppins, Arial, Helvetica, sans-serif;
  font-size: 3em;
  margin-top: 300px;
  margin-bottom: auto;
  grid-row-start: 2;
  font-weight: 100;
}
#home-img {
  width: 800px;
  height: 700px;
}

main h4,
main h5 {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
  font-size: 1.2em;
  margin-bottom: -25px;
}

#home-box {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
}

footer {
  background-color: #e2e2e2;
  color: #171717;
  padding: 25px 50px;
  margin-top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 400;
  font-size: 0.9em;
}

footer a {
  color: #171717;
  text-decoration: none;
}

.img-social {
  border-radius: 50px;
}
footer a:hover {
  color: #ffffff;
}

/* Second page css */
#aboutme {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 2fr 2fr;
  margin: 0 auto;
  max-width: 60%;
}

#aboutme-img1 {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  margin-left: 4em;
}

#aboutme-img2 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  margin-right: 4em;
  margin-bottom: 2em;
}

#aboutme-text1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
}

#aboutme-text2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
}

.aboutme-title {
  font-family: Lato, Poppins, Arial, Helvetica, sans-serif;
  font-size: 3.54em;
  font-weight: 100;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
}

#text-part1,
#text-part2 {
  font-family: Lato, Poppins, Arial, Helvetica, sans-serif;
  font-size: 1.1em;
}

/* Third page css */
#professional-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 0.1fr 1fr 1fr 1fr;
  margin: 0 auto;
  max-width: 60%;
}

#professional-title {
  display: inline;
  font-family: Lato, Poppins, Arial, Helvetica, sans-serif;
  font-size: 3.54em;
  font-weight: 100;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
}

#professional-text1 {
  grid-column-start: 2;
  grid-row-start: 2;
}

#professional-text2 {
  grid-column-start: 2;
  grid-row-start: 3;
}

#professional-text3 {
  grid-column-start: 2;
  grid-row-start: 4;
}

#professional-text1,
#professional-text2,
#professional-text3 {
  font-family: Lato, Poppins, Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 0;
  margin-left: 1.5em;
  margin: 0 0;
}

#professional-text1 h2,
#professional-text2 h2,
#professional-text3 h2 {
  margin-top: 2em;
  padding-top: 0;
  border-top: 0;
  padding: 0;
  border: 0;
  font-family: Lato, Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
}


#professional-text1 h5,
#professional-text2 h5,
#professional-text3 h5 {
margin-bottom: auto;
  font-family: Lato, Poppins, Arial, Helvetica, sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: left;
  font-style: italic;
}

#professional-img1 {
  grid-column-start: 1;
  grid-row-start: 2;
  display: flex;
  margin: auto 0;
  border-radius: 4px;
}

#professional-img2 {
  grid-column-start: 1;
  grid-row-start: 3;
  display: flex;
  margin: auto 0;
  border-radius: 4px;
}

#professional-img3 {
  grid-column-start: 1;
  grid-row-start: 4;
  display: flex;
  margin: auto 0;
  border-radius: 4px;
}

@media screen and (max-width: 900px) {
  #home,
  .home-grid {
    display: block;
    height: auto;
  }

  .logo {
    width: 110px;
    height: 30px;
    margin-top: 55px;
  }
  nav,
  footer {
    flex-direction: column;
  }

  #home-img {
    max-width: 100%;
    height: 100%;
  }

  #home-box {
    background-color: #000000;
  }

  #home-text {
    background-color: #000000;
    color: #171717;
  }

  header {
    display: grid;
    grid-template-columns: 1fr 8fr 2fr;
  }

  nav a {
    display: grid;
    padding: 15px;
    text-align: center;
    justify-items: center;
    margin-right: -100px;
    font-size: 1.1em;
  }

  .home-title {
    font-size: 3.5em;
    color: #ffffff;
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 0px;
    font-weight: 100;
  }

  main h4,
  main h5 {
    color: #ffffff;
    font-weight: 400;
    font-size: 1.2em;
  }

  main h5 {
    margin-bottom: 80px;
  }

  footer {
    margin-top: 0px;
  }

  #aboutme {
    display: block;
    margin: 0 auto;
    max-width: 70%;
  }

  #aboutme-img1 {
    margin-top: 2em;
    margin-left: 1.2em;
    width: 15em;
    height: 25em;
  }

  #aboutme-img2 {
    margin-top: 1em;
    margin-left: 1.2em;
    width: 15em;
    height: 25em;
  }

  #professional-img1 {
    margin: 1em auto;
      width: 15em;
      height: 25em;
    
    }
    #professional-grid {
      display: block;
      margin: 0 auto;
      max-width: 80%;
    }
    
    #professional-img2 {
    display: none;
      
      }
      #professional-img3 {
     display: none;
        }
    
        #professional-text3 {
          margin-bottom: 3em;
        }
    



}



